Makefile.in linguist-generated
*/Makefile.in linguist-generated
*/*/Makefile.in linguist-generated
*/*/*/Makefile.in linguist-generated
aclocal.m4 linguist-generated
configure linguist-generated
configure.scan linguist-generated
m4/ax_*.m4 linguist-vendored
m4/glib-2.0.m4 linguist-vendored
m4/libtool.m4 linguist-vendored
m4/lt*.m4 linguist-vendored
