*~
*(Autosaved)*
*.orig
*.rej
tests/lib/test_bitfield
tests/lib/test_seek
tests/lib/test_ctf_writer
*.o
*.a
*.la
*.lo
*.exe
.libs
.deps
*.bkp
ctf-lexer.c
ctf-parser.c
ctf-parser.h
ctf-parser-test
converter/babeltrace
config.h
*.status
*.log
libtool
Makefile
*.cache
converter/babeltrace-log
core
formats/ctf/metadata/ctf-parser.output
stamp-*
bindings/python/babeltrace.i
bindings/python/babeltrace.py
bindings/python/babeltrace_wrap.c
babeltrace.pc
babeltrace-ctf.pc
